**/datasets
**/models
*.log
*.npy
*.csv
*.html

# Latex support files
**/*.acr
**/*.acn
**/*.alg
**/*.aux
**/*.aux.bak
**/*.bbl
**/*.bcf
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.glg
**/*.gls
**/*.idx
**/*.idx.bak
**/*.ilg
**/*.ind
**/*.ist
**/*.lof
**/*.log
**/*.lol
**/*.lot
**/*.lox
**/*.nav
**/*.out
**/*.pdf
**/*.ps
**/*.snm
**/*.synctex.gz
**/*.toc
**/*.xdy
/**/_minted-{jobname}
